# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
**/*.usd
**/*.usda
**/*.usdc
**/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/
datasets/cube_maze_terrain_replay_buffer_1250.pkl
datasets/cube_maze_terrain_sac_replay_buffer_25.pkl
datasets/cube_maze_terrain_sac_replay_buffer_125.pkl
datasets/cube_maze_terrain_sac_replay_buffer_566.pkl
datasets/cube_maze_terrain_sac_replay_buffer_587.pkl
datasets/cube_maze_terrain_sac_replay_buffer_679.pkl
datasets/cube_maze_terrain_sac_replay_buffer_1230.pkl
datasets/cube_maze_terrain_sac_replay_buffer_4132.pkl
datasets/outback_terrain_nav_sac_replay_buffer_862.pkl
datasets/outback_terrain_nav_sac_replay_buffer_1198.pkl
datasets/replay_buffer_1170.pkl
datasets/replay_buffer_1301.pkl
datasets/replay_buffer_1641.pkl
datasets/cube_maze/replay_buffer_1340.pkl
datasets/cube_maze/replay_buffer_12000.pkl
